html, body {
    background-color: #C5E4E7;
}

h1 {
    text-align: center;
    color: #3D6666;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65vw;
    margin: auto;
    background-color: #FFF;
    padding: 20px;
    border-radius: 25px;
}

.col-one, .col-two {
    width: 30vw;
}

.col-one h4 {
    color: #5E7A7D;
}

.flex-percent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 25vw;
}

.flex-percent > div {
    flex: 1 0 33%;
    max-width: 80px;
    padding: 10px 30px;
    background: #00474B;
    margin: 5px;
    text-align: center;
    color: #FFF;
    border-radius: 5px;
    font-size: 24px;     
}

.flex-percent > div:nth-last-of-type(4){
    background-color: #26C2AE;
    color: #00474B;
}

.flex-percent > div:nth-last-of-type(1){
    background-color: #F3F9FA;
    color: #547878;
}
.col-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00474B;
    border-radius: 25px;
    padding: 30px;
}

.col-two h3 {
    color: #26C2AE;
    font-size: 35px;
    margin-top: 0;
}
.col-two h4{
    color: #FFF;
    margin: 0 0 5px 0;
}

.col-two p {
    color: #7F9D9F;
    margin: 0;
}

.col-two-flex{
    display: flex;
    justify-content: space-between;
}

.reset-btn {
    background-color: #26C2AE;
    font-size: 16px;
    color: #00474B;
    text-decoration: none;
    border: none;
    padding: 10px;
    width: 30vw;
    text-transform: uppercase;
    font-weight: 600;

}